canvas {
  margin-top: 240px;
  margin-left: 2%;
  position: absolute;
}
label {
  margin-left: 40px;
  margin-top: 200px;
  width: auto;
  color: #cfb53b;
}
.normaltext {
  margin-top: 0px;
  margin-left: 40px;
  color:#cfb53b;
}